*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(2180897.jpg);
    background-size: cover;
    background-position: center;
    padding-right: 5%;
    padding-left: 5%;
    box-sizing: border-box; 
    position: relative;

}
.logo{
    width: 76px;
    cursor: pointer;
}
.facebook{
    width: 40px;
    cursor:pointer;
}
.navbar{
    width: 100;
    height: 15vh;
    margin:auto;
    display:flex;
    align-items: center;

}
.logo{
    width:76px;
    cursor:pointer;
}
.faebook{
    width:40px;
    cursor:pointer;
}
.nav{
    flex: 1;
    padding-left:60px;
}
nav ul li{
    display:inline-block;
    list-style:none;
    margin: 0px 20px;
}
nav ul li a{
    text-decoration:none;
    color: #333;;
}
.content h1{
    font-size:60px;
    font-weight:100px;
    margin-top:24px;
    margin-bottom: 15px;
    color: #333;
}
.content p{
    font-size:20px;
    font-weight:40px;
    color:#333;
}
.content {
    margin-left:6%;
    margin-top:6%;
}
.content .btn{
    display: inline-block;
    background: linear-gradient( 30deg,#317277, rgb(43, 68, 67));
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration:none;
    color:rgb(245, 247, 255);
    box-shadow: 3px 8px 22px rgba(87, 5, 54, 0.15);
}
.arrow-icons{

}